services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - type: bind
        source: ./postgres-data
        target: /var/lib/postgresql/data
    networks:
      - reference
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 6
  server:
    ports:
      - "8080:8080"
      - "9229:9229"
    environment:
      PORT: 8080
      NO_SSL: true
      DEVELOPMENT: true
      DATABASE_URL: postgresql://postgres:test@postgres:5432/postgres
      TESTING_UNIT: ${TESTING_UNIT:-false}
      TESTING_E2E: ${TESTING_E2E:-false}
      DB_RESET: ${DB_RESET:-false}
    depends_on:
      postgres:
        condition: service_healthy
    build: .
    develop:
      watch:
        - action: sync
          path: ./server/
          target: /app/server/
          ignore:
            - node_modules/
        - action: rebuild
          path: server/package.json
    networks:
      - reference
networks:
  reference:
