<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757523123677-5uct36sksguq3v4ngeec8ofc31ipf8hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757523123677-5uct36sksguq3v4ngeec8ofc31ipf8hl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757523123677-93vbdd71i7kh9c9an1mj7ck6kll5deer.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwhfdkmkf9xj1mORbhh0vZa9tF8L0eL5o</string>
	<key>GCM_SENDER_ID</key>
	<string>757523123677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellgo.CornellGO</string>
	<key>PROJECT_ID</key>
	<string>cornell-go</string>
	<key>STORAGE_BUCKET</key>
	<string>cornell-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757523123677:ios:076917d7608ab08d507a34</string>
</dict>
</plist>