<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757523123677-cso74eimkjqkcuce69nrf4c637k3db6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757523123677-cso74eimkjqkcuce69nrf4c637k3db6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCY0CGQ4jIci2NsKQ7oWhM6cXXoNM-lT3I</string>
	<key>GCM_SENDER_ID</key>
	<string>757523123677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellgo.game</string>
	<key>PROJECT_ID</key>
	<string>cornell-go</string>
	<key>STORAGE_BUCKET</key>
	<string>cornell-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:757523123677:ios:253331c11f6cb206507a34</string>
</dict>
</plist>
