name: Run server tests CI

on:
  push:
    branches:
      - '**' # Matches every branch
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Execute e2e tests
        env:
          BUILDKIT_PROGRESS: plain
          DOCKER_BUILDKIT: 1
        run: npm run tests:e2e
