name: Run server tests CI

on:
  push:
    branches:
      - '**' # Matches every branch
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Execute e2e tests
        run: npm run tests:e2e
